/*-----GENERAL------*/
:root{
    --black: #101010FF;
    --blackAlpha: #10101099;
    --white: #FAFAFAFF;
    --gold: rgb(197, 157, 95);
    --goldLight: rgb(201, 171, 127);
    --redCross: #460000;
    font-family: "Oswald", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.textWhite { 
    color: var(--white); 
}
.textCenter {
     text-align: center; 
}
.bgGold {
     background-color: var(--gold);
}
.bgBlackAlpha{
    background-color: var(--blackAlpha);
}
a{
   color: var(--white);
    text-decoration: none;
}
p{
    font-family: "Raleway", sans-serif; 
    line-height: 1.7em;
    padding: 2em;
}
.italic{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.2em;
    padding: 0.5em;
}
input[type ="checkbox"]{
    display: none;
}
/*-----HEADER------*/
header{
        display: flex;
        position: fixed;
        width: 100vw;
        left: 0;
        height: 2.5em;
        z-index: 3;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}
#navbar{
    display: inherit;
    padding: 0.2em .5em;
    li{
        display: inline;
        margin: auto;
        list-style-type: none;
    }
    a{
        padding: 0 .5em;
    }
    a:hover{
            font-size: 1.1em;
            padding: 0em .5em;
            text-shadow: 0 0 0.2em var(--gold);
    }
    h1{
        Position :fixed;
        top: -0.2em;
        left: 0.2em;
    }
    .socials{
        display: inline;
        position: absolute;
        top: .3em;
        right : 2em;
        a{
            padding: 2px;
            border: 2px solid var(--goldLight);
            border-left: 0;
            border-top: 0;
        }
    }
}
/*-----MAIN IMAGE------*/
.main-image{
    width: 100%;
    min-height: 100vh;
    background-image: url(./img/h5-revolution-img-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        aspect-ratio: auto;
        max-height: 80vh;
        max-width: 80vw;
    }
}
/*-----CITATION------*/
#citation{
    margin: auto;
    padding: 2em;
    font-size: 2em;
    font-weight: bold;
    z-index: 1;
    background-color: var(--gold);
    text-align: justify;
}
/*-----TRADITION------*/
#tradition{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "beertrad beerbaril"
                         "beerglass beerstory";
    overflow: hidden;
    img{
        max-width: 100%;
        aspect-ratio: 1/1;
    }
}
#beerbaril{
    grid-area: beerbaril;
    background-image: url(./img/h5-el-holder-img-1-1.jpg);
    width: inherit;
}
#beerglass{
    grid-area: beerglass;
    background-image: url(./img/h5-el-holder-img-2.jpg);
    width: inherit;
}
#beertrad, #beerstory{
    margin: auto;
    width: inherit;
    h2{
            padding: .5em;
            font-size: 2.2em;
    }
}
#beertrad{
    grid-area: beertrad;
}
#beerstory{
    grid-area: beerstory;
}
button{
    margin-top: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: .5em;
    font-size: 1.2em;
}
button:hover{
    opacity: 90%;
}
/*-----GALERIE------*/
#galerie{
    display: flex ;
    flex-direction: row;
    div{
        position: relative;
        width: fit-content;
        img{
            position: relative;
            z-index: 1;
            max-width: 100%;
        }
        .fa-xmark{
            position: absolute;
            top: 40%;
            left: 40%;
            height: auto;
            transform-origin: center;
            z-index: 0;
            color: var(--goldLight);
            font-size: 3em;
        }
    }
    div:hover{
        img{
            animation: .5s forwards ease-in filter;
        }
        .fa-xmark{
            z-index: 2;
            animation: 2s forwards cross;
        }
    }
    
}
/*-----GALLERY ANIMATIONS-----*/
@keyframes filter {
    from {
        filter: sepia(0%) blur(0%);
    }
    to {
        filter: sepia(100%) blur(1px);
    }
}
@keyframes cross {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(405deg);
    }
}
/*-----SERVICES------*/
.services{
    margin: 0 .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--black);
    padding: 2em 2em;
    p{
        font-size: .9em;
    }
    div:hover{
        filter : sepia(100%);
        h3{
            color: var(--gold);
        }
    }
}
/*-----PARALLAXE------*/
.parallaxe{
    background-image: url(./img/h5-parallax-img-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
    font-size: 2em;
    font-weight: lighter;
    p{
        font-size: .5em;
    }
}
/*-----GOOGLE MAPS------*/
.map{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 3em 3em var(--blackAlpha) inset;
}
iframe{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40vh;
    border: none;
    filter: grayscale(80%) sepia(10%);
}
/*-----FOOTER------*/
footer{
    background-color: var(--black);
    padding: 2em;
    text-align: center;
    color: var(--white);
}
/*-----RESPONSIVE------*/
@media only screen and (max-width : 900px) {
    .services{
    flex-direction: column;
        div{
            padding: 1em;
        }
    }
    #tradition{
        grid-template-columns: 1fr ;
        gap: 2em;
        grid-template-areas:    'beerbaril'
                                'beertrad'
                                'beerglass'
                                'beerstory';
    }
    #galerie{
        padding-top: 2em;
        flex-direction: column;
        align-items: center;
        div>img{
            max-width: 100vw;
        }
    }
    #toggleMenu{
        background-color: var(--blackAlpha);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -15em;
        right: 10vw;
        transition: all 1.5s ease ;
        ul>li{
          display: inherit;
            padding: 2px;
            border-bottom: 2px solid var(--goldLight);
        }
        .socials{
            position: static;
        }
    }
    /*-----MENU BURGER-----*/
    .burgerSign{
        position: absolute;
        z-index: 15;
        background-color: var(--white);
        display: block;
        height: 2em;
        width: 2em ;
        top: 0.2em;
        right: 10vw;
        border-radius: .4em;
     }
    .burgerLine{
        background-color: var(--redCross);
        transition: all 1.5s ease;
        z-index: 16;
        margin: 11% auto;
        width: 90%;
        border: .2em solid var(--black);
        border-radius: 1em;
    }
    #burgerQuizz{
        opacity: 0;
        cursor: pointer;
    }
    #burgerQuizz:checked ~ #toggleMenu{
        display: block;
        top: 2.5em;
    }
    #burgerQuizz:checked ~ .burgerSign .burgerLine:nth-child(1) {
        border-color: var(--redCross);
        transform-origin: center;
        transform:  translate(0, .6em) rotate(45deg);
    }
    #burgerQuizz:checked ~ .burgerSign .burgerLine:nth-child(2){
        opacity: 0 ;
    }
    #burgerQuizz:checked ~ .burgerSign .burgerLine:nth-child(3) {
        border-color: var(--redCross);
        transform-origin: center;
        transform: translate(0em, -.6em)rotate(-45deg) ;
    }
}
