/*-----GENERAL------*/
:root{
    --black: #101010FF;
    --blackAlpha: #10101099;
    --white: #FAFAFAFF;
    --gold: rgb(121, 103, 6);
    font-family: "Oswald", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

    /*color: var(--white);*/
}

#navbar{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: var(--blackAlpha);
    padding: 0.1em .5em;
    li{
        display: inline;
        margin: auto;
        list-style-type: none;
    }
    a{
        text-decoration: none;
        padding: 0 .5em;
    }
    a:hover{
            font-size: 1.1em;
            font-weight: bold;
            text-shadow: 0 0 3px var(--gold);
    }

}


footer{
    background-color: var(--blackAlpha);
    text-align: center;
}

p{
    font-family: "Raleway", sans-serif; 
}


.italic{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}